repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: double-quote-string-fixer

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.5.5"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-myst

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.18.0"
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==23.1.0

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        language_version: system
        exclude_types:
          - markdown # managed by mdformat

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.8.0"
    hooks:
      - id: pyproject-fmt

ci:
  autofix_prs: false
