cachey
dask
fastapi>=0.78.0
fsspec
httpx
importlib-metadata
netcdf4
numcodecs
numpy
pluggy
pooch
pytest
pytest-mock
pytest-sugar
pytest-cov
requests
toolz
uvicorn
xarray!=v2023.09.0  # see https://github.com/xpublish-community/xpublish/issues/237
zarr
