cachey
dask
fastapi>=0.78.0
fsspec
httpx
importlib-metadata
netcdf4
numcodecs
numpy
pluggy
pooch
pre-commit
pytest
pytest-asyncio
pytest-mock
pytest-sugar
pytest-cov
requests
toolz
uvicorn
xarray>=2025.1.0
zarr>=3.0.7
