name: Build Python distribution and upload to PyPI on release

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  deploy:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install build tools
        run: |
          python -m pip install --upgrade build

      - name: Build binary wheel
        run: python -m build --sdist --wheel . --outdir dist

      - name: Check files
        run: >
          ls dist
          && python -m pip install --upgrade check-manifest
          && check-manifest --verbose

      - name: Test wheels
        run: >
          cd dist
          && python -m pip install *.whl
          && python -m pip install --upgrade build twine
          && python -m twine check *

      - name: Publish a Python distribution to PyPI
        if: success() && github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
